<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Chat Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .profile-image {
            background-size: cover;
            background-position: center;
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }
        .no-photo {
            background-image: url('../../static/pictures/NoPhoto.png');
        }
    </style>
</head>
<body>
<!-- Прелоадер -->
<!--<div class="preloader">
    <div class="d-flex justify-content-center align-items-center vh-100">
        <img src="../../static/pictures/preloaders/preloader.gif" alt="Loading animation">
    </div>
</div>-->
<nav class="navbar navbar-expand navbar-light bg-light">
    <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
        <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
    </ul>
    <a class="nav-link ml-auto" href="/home/logout">Logout</a>
    <a class="nav-link ml-auto" href="/getcurrentpage">My Account</a>
</nav>
<div class="container">
    <div class="card">
        <div class="card-header bg-info">
            <div class="row align-items-center">
                <div class="col-auto">

                    <div th:unless="${type}">
                        <div class="no-photo profile-image"></div>
                    </div>
                    <div th:if="${type}">
                        <div class="profile-image" th:if="${companion.photo}" th:style="'background-image: url(\'/photo/getImage/' + ${companion.photo.id} + '\');'"></div>
                        <div class="profile-image no-photo" th:unless="${companion.photo}"></div>
                    </div>
                </div>
                <div class="col">
                    <h5 th:text="${companion.name} + ' ' + ${companion.surname}"></h5>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div id="messageContainer">
                <div th:each="messages : ${chatMessages}">
                    <div class="alert alert-info" th:text="${messages.message}"></div>
                </div>
            </div>
        </div>

    <form id="messageForm" th:action="@{/chat/{roomId}/sendMessage}" th:object="${messagePayload}" method="post">
        <input type="hidden" th:value="${type}" id="senderType">
        <input type="hidden" th:name="roomId" th:value="${roomId}" id="roomID">
        <input id="messageInput" type="text" class="form-control" th:field="*{message}" placeholder="Enter your message">
        <button type="submit" class="btn btn-primary">Send</button>
    </form>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<!--<script src="https://cdn.jsdelivr.net/sockjs/1/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script>

    function connect() {
            var socket = new SockJS('/ws');
            stompClient = Stomp.over(socket);
            stompClient.connect({}, onConnected, onError);
    }
    function onError(error) {
        connectingElement.textContent = 'Could not connect to WebSocket server. Please refresh this page to try again!';
        connectingElement.style.color = 'red';
    }
    function onConnected() {
        var sub = '/topic/room/' + document.getElementById("roomID").value;
        console.log(sub)
        // Subscribe to the Public Topic
        stompClient.subscribe(sub, onMessageReceived);

    }

    // Подключение к серверу WebSocket
    /*var socket = new SockJS('/chat');
    console.log("socket created " + socket)
    var stompClient = Stomp.over(socket);
    console.log("stompClient created " + stompClient)
    stompClient.connect({}, function () {
        console.log('Connected to WebSocket');

        // Подписка на тему комнаты
        var roomId = document.getElementById("roomID").value;
        var topic = '/topic/room/' + roomId;
        console.log("in connecion")
        stompClient.subscribe(topic, function (message) {
            console.log("subscribing")
            var chatMessage = JSON.parse(message.body);
            displayChatMessage(chatMessage);
        });
    });*/

    /*document.getElementById("connectBtn").addEventListener("click", e=>{
        connect(e);
    })*/

    function onMessageReceived(message){
            console.log("subscribing")
            var chatMessage = JSON.parse(message.body);
            displayChatMessage(chatMessage);

    }
    // Функция для отправки сообщения
    function sendMessage() {
        var messageInput = document.getElementById("messageInput").value;
        var roomId = document.getElementById("roomID").value;

        var payload = {
            roomId: roomId,
            message: messageInput,
            type: document.getElementById("senderType").value
        };
        console.log(payload.message);
        stompClient.send("/app/chat/" + roomId + "/sendMessage", {}, JSON.stringify(payload));

        messageInput.value = '';
    }

    // Обработка отправки формы
    $('#messageForm').submit(function (event) {
        event.preventDefault();
        sendMessage();
    });

    // Функция для отображения сообщения
    function displayChatMessage(chatMessage) {
        var messageContainer = $('#messageContainer');
        var messageDiv = $('<div>').addClass('alert alert-info').text(chatMessage.message);
        messageContainer.append(messageDiv);
    }

    connect();
</script>
</body>
</html>