<!DOCTYPE html>
<html>
<head>
  <title>Страница регистрации</title>
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css}">
  <style>
    .registration-block {
      display: none;
    }
    .visible {
      display: block;
    }
    .centered {
      margin: 0 auto;
      max-width: 400px;
    }
    .back-button {
      margin-top: 10px;
    }
  </style>
</head>
<body ng-controller="RegistrationController">
<div class="centered">
<h2>Регистрация</h2>

<div id="userBlock" class="registration-block visible">
  <h3>Данные пользователя</h3>
  <form action="registration/registry" method="post">
    <input type="text" placeholder="Login" name="user.login" required><br>
    <input type="password" name="user.password" placeholder="Пароль" required><br>
    <button type="button" onclick="showRoleBlock()">Далее</button>
  </form>
</div>

<div id="roleBlock"  class="registration-block">
  <h3>Выберите роль</h3>
  <form action="registration/registry" method="post">
    <label for="roleTutor">
      <input type="radio" id="roleTutor" name="role" value="tutor" required>
      Репетитор
    </label><br>
    <label for="roleSeeker">
      <input type="radio" id="roleSeeker" name="role" value="seeker" required>
      Искатель репетитора
    </label><br>

    <button type="button" onclick="showUserBlock()" class="back-button">Назад</button>
    <button type="button" onclick="showUserDataBlock()">Далее</button>
    <input type="submit">Далеdgdfе</input>
  </form>
</div>
<!--
<div id="userDataBlock"  class="registration-block">
  <h3>Данные пользователя</h3>
  <form action="registration/registry" method="post">
    &lt;!&ndash; Поля для заполнения данных пользователя &ndash;&gt;
    <input type="text" name="userData.name" placeholder="Имя" required><br>
    <input type="text" name="userData.surname" placeholder="Фамилия" required><br>
    <input type="text" name="userData.secName" placeholder="Отчество (необязательно)"><br>
    <input type="email" name="userData.eMail" placeholder="Email" required><br>
    <input type="text" name="userData.phone" placeholder="Телефон" required><br>

    <button type="button" onclick="showRoleBlock()" class="back-button">Назад</button>
    <button type="button" onclick="showSelectedBlock()">Далее</button>
  </form>
</div>

  <div id="seekerBlock" class="registration-block">
    <h3>Данные искателя</h3>
    <form action="registration/registry" method="post">
      <label for="age">Возраст:</label>
      <input type="number" id="age" name="seeker.age" required><br>

      <label for="description">Описание:</label>
      <textarea id="description" name="seeker.description"></textarea><br>

      &lt;!&ndash; Добавьте другие поля для заполнения данных искателя &ndash;&gt;

      <button type="button" onclick="showUserDataBlock()">Назад</button>
      <button type="submit">Завершить регистрацию</button>
    </form>
  </div>

  <div id="tutorBlock" class="registration-block">
    <h3>Данные репетитора</h3>
    <form action="registration/registry" method="post">
      <label for="specialisation">Специализация:</label>
      <input type="text" id="specialisation" name="tutor.specialisation" required><br>

      <label for="price">Цена:</label>
      <input type="number" id="price" name="tutor.price" required><br>

      <label for="photo">Фото:</label>
      <input type="file" id="photo" name="tutor.photo"><br>

      &lt;!&ndash; Добавьте другие поля для заполнения данных репетитора &ndash;&gt;

      <button type="button" onclick="showUserDataBlock()" class="back-button">Назад</button>
      <button type="button" onclick="showAdressBlock()">Далее</button>
    </form>
  </div>
  <div id="addressBlock" class="registration-block">
    <h3>Адрес занятий</h3>
    <form action="registration/registry" method="post">
      <label for="country">Страна:</label>
      <input type="text" id="country" name="address.country" required><br>

      <label for="city">Город:</label>
      <input type="text" id="city" name="address.city" required><br>

      <label for="street">Улица:</label>
      <input type="text" id="street" name="address.street" required><br>

      <label for="house">Дом:</label>
      <input type="text" id="house" name="address.house" required><br>

      <label for="office">Офис:</label>
      <input type="text" id="office" name="address.office" required><br>

      <button type="button" onclick="showTutorBlock()" class="back-button">Назад</button>
      <button type="submit">Завершить регистрацию</button>
    </form>
  </div>-->
</div>
<script src="/webjars/bootstrap/4.6.0/js/bootstrap.min.js"></script>
<script>
  function showRoleBlock() {
    document.getElementById("userBlock").style.display = "none";
    document.getElementById("roleBlock").style.display = "block";
    document.getElementById("userDataBlock").style.display = "none";
    document.getElementById("seekerBlock").style.display = "none";
    document.getElementById("tutorBlock").style.display = "none";
    document.getElementById("addressBlock").style.display = "none";
  }

  function showUserBlock() {
    document.getElementById("userBlock").style.display = "block";
    document.getElementById("roleBlock").style.display = "none";
    document.getElementById("userDataBlock").style.display = "none";
    document.getElementById("seekerBlock").style.display = "none";
    document.getElementById("tutorBlock").style.display = "none";
    document.getElementById("addressBlock").style.display = "none";
  }

  function showUserDataBlock() {
    document.getElementById("userBlock").style.display = "none";
    document.getElementById("roleBlock").style.display = "none";
    document.getElementById("userDataBlock").style.display = "block";
    document.getElementById("seekerBlock").style.display = "none";
    document.getElementById("tutorBlock").style.display = "none";
    document.getElementById("addressBlock").style.display = "none";
  }

  function showSeekerBlock() {
    document.getElementById("userBlock").style.display = "none";
    document.getElementById("roleBlock").style.display = "none";
    document.getElementById("userDataBlock").style.display = "none";
    document.getElementById("seekerBlock").style.display = "block";
    document.getElementById("tutorBlock").style.display = "none";
    document.getElementById("addressBlock").style.display = "none";
  }
  function showTutorBlock() {
    document.getElementById("userBlock").style.display = "none";
    document.getElementById("roleBlock").style.display = "none";
    document.getElementById("userDataBlock").style.display = "none";
    document.getElementById("seekerBlock").style.display = "none";
    document.getElementById("tutorBlock").style.display = "block";
    document.getElementById("addressBlock").style.display = "none";
  }
  function showAdressBlock() {
    document.getElementById("userBlock").style.display = "none";
    document.getElementById("roleBlock").style.display = "none";
    document.getElementById("userDataBlock").style.display = "none";
    document.getElementById("seekerBlock").style.display = "none";
    document.getElementById("tutorBlock").style.display = "none";
    document.getElementById("addressBlock").style.display = "block";
  }

  function showSelectedBlock() {
    var tutorRadio = document.getElementById("roleTutor");
    var seekerRadio = document.getElementById("roleSeeker");

    if (tutorRadio.checked) {
      showTutorBlock();
    } else if (seekerRadio.checked) {
      showSeekerBlock();
    } else {
      // Если не выбран ни один тип, предпринять необходимые действия, например, вывести сообщение об ошибке.
    }
  }
</script>
</body>
</html>