<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ошибка 404 - Страница не найдена</title>
    <link rel="icon" type="image/x-icon" href="/../static/pictures/favicon404Circle.ico">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .meme-container {
            margin-top: 30px;
            text-align: center;
        }

        .meme-container img {
            max-width: 100%;
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3 text-center">
            <h1 class="mt-5">Ошибка 404</h1>
            <p>Извините, запрашиваемая страница не найдена.</p>
            <div class="meme-container">
                <img src="../../static/pictures/404errorMeme.jpg" alt="Мемная картинка">
            </div>
            <a href="/" class="btn btn-primary">Вернуться на главную</a>
        </div>
    </div>
</div>
</body>
</html>