.navbar {
    display: flex;
    align-items: center;
    background-color: #f8f9fa; /* Светлый фон */
    padding: 1rem; /* Отступы */
}

/* Стили для элементов навигации */
.navbar-nav {
    display: flex;
    list-style: none; /* Убираем маркеры списка */
    padding: 0;
    margin: 0;
}

/* Стили для отдельного элемента навигации */
.nav-item {
    margin-right: 1rem; /* Отступ между элементами */
}

/* Стили для ссылок навигации */
.nav-link {
    text-decoration: none; /* Убираем подчеркивание */
    color: #007bff; /* Цвет ссылок */
    transition: color 0.6s; /* Плавный переход для цветов */
}

.nav-link:hover {
    color: #0056b3; /* Цвет при наведении */
}

/* Для автоматического выравнивания элемента вправо */
.ml-auto {
    margin-left: auto; /* Отступ слева для выравнивания */
}