<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tutor Search</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-expand navbar-light bg-light">
    <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
        <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
    </ul>
    <a class="nav-link ml-auto" href="/account">My Account</a>
</nav>

<div class="container">
    <form>
        <!-- Add filter/sort elements here -->
    </form>

    <div class="row">
        <!-- Iterate over tutors -->
        <div class="col-md-4" th:each="tutor : ${tutors}">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title" th:text="${tutor.specialisation}"></h5>
                    <p class="card-text" th:text="${tutor.description}"></p>
                    <p class="card-text" th:text="'Country: ' + ${tutor.address.country}"></p>
                    <p class="card-text" th:text="'City: ' + ${tutor.address.city}"></p>
                    <p class="card-text" th:text="'Price: $' + ${tutor.price}"></p>
                </div>
                <div class="card-img-top" th:if="${tutor.photo != null}">
                    <img th:src="@{'/photos/' + ${tutor.photo.filename}}" alt="Tutor Photo">
                </div>
                <div class="card-img-top" th:unless="${tutor.photo != null}">
                    <div style="background-color: black; width: 100%; height: 200px;"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.min.js"></script>
</body>
</html>