.comment-card {
    width: 80%;
    margin: 0 auto; /* Центрируем контейнер */
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    padding: 1rem;
    margin-bottom: 1rem;
}

.comment-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
}

.comment-author {
    font-weight: bold;
}

.comment-actions {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.comment-card:hover .comment-actions {
    opacity: 1;
}

.comment-card:active .comment-actions{
    opacity: 1;
}
.comment-content {
    margin-bottom: 0.5rem;
}

.comment-rating {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

.comment-rating .stars {
    color: #ccc;
}

.comment-rating .stars .active {
    color: #ffc107;
}

.comment-date {
    color: #6c757d;
    font-size: 0.875rem;
    text-align: right;
    white-space: nowrap;
}

.comment-content-and-date {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.comment-list {
    overflow-y: auto;
    padding-right: 15px;
    transition: margin-top 0.3s ease; /* Плавное изменение отступа сверху */
}

.comment-list::-webkit-scrollbar {
    width: 8px;
}

.comment-list::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 4px;
}

.comment-list::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
}

.btn-load-more {
    margin-top: 1rem;
}

.reviews-header {
    font-size: 2rem; /* Размер шрифта */
    font-weight: bold; /* Жирный шрифт */
    color: #333; /* Цвет текста */
    text-align: center; /* Выравнивание по центру */
    margin: 1.5rem 0; /* Отступ сверху и снизу */
    position: relative; /* Для использования псевдоэлемента */
}

.reviews-header::after {
    content: ""; /* Пустой контент для псевдоэлемента */
    display: block; /* Блоковый элемент */
    width: 50%; /* Ширина линии */
    height: 4px; /* Высота линии */
    background-color: #007bff; /* Цвет линии */
    margin: 0.5rem auto; /* Центрирование линии */
    border-radius: 2px; /* Скругление краев */
}


.comment-form {
    width: 80%;
    margin: 0 auto;
    background-color: #f8f9fa; /* Светлый фон для формы */
    border: 1px solid #dee2e6; /* Рамка */
    border-radius: 0.25rem; /* Скругление углов */
    padding: 1rem; /* Отступы внутри формы */
    margin-top: 1rem; /* Отступ сверху */
    transform: translateY(20px); /* Начальная позиция для анимации */
    opacity: 0; /* Начальная непрозрачность */
    transition: transform 0.3s ease, opacity 0.3s ease; /* Плавная анимация */
    display: none; /* Скрываем форму по умолчанию */
}

.comment-form.show {
    display: block; /* Показываем форму */
    transform: translateY(0); /* Конечная позиция для анимации */
    opacity: 1; /* Полная непрозрачность */
}

.stars-form {
    display: flex; /* Используем Flexbox для размещения элементов в ряд */
    align-items: center; /* Выравнивание по вертикали по центру */
    margin-left: 1rem; /* Отступ между меткой и звездочками */
    cursor: pointer; /* Курсор, показывающий возможность клика */
}

.star {
    cursor: pointer; /* Курсор, показывающий возможность клика */
    font-size: 35px; /* Размер звезд */
    color: #ccc; /* Цвет звезд по умолчанию */
    transition: color 0.2s; /* Плавный переход цвета */
}

.star.selected {
    color: #ffc107; /* Цвет заполненных звезд */
}


#commentText{
    flex: 1; /* Занимает оставшееся пространство */
    min-width: 200px; /* Минимальная ширина для текстовой области */
    width: 65%;
    margin-left: 20px;
    margin-top: 10px;
}
